<div class="chat-container">

  <div class="chat-messages">
    <div class="grid gap-y-1">

      <!--      chat messages.   -->
      <app-chat-message text="Send your audio to transcribe it:" />
      @for (message of messages(); track message.isGpt) {
        @if (message.isGpt) {
          <app-chat-message [text]="message.text" />
        } @else {
          <app-user-message [text]="message.text" />
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }

    </div>
  </div>
  <!--  chat box -->

  <app-text-message-box-file
    placeHolder="Escribe tu mensaje"
    (messageBox)="handleMessageWithFile($event)"
  />

</div>
