@if (originalImage()) {
  <div class="fixed flex flex-col items-center top-10 right-10 z-10 fade-in">
    <span>Editing</span>
    <img
      [src]="originalImage()!"
      alt="Original image"
      class="border rounded-xl w-36 h-36 object-contain" />
    <button
      (click)="generateVariation()"
      class="btn-primary mt-2">
      Generate variation
    </button>
  </div>
}


<div class="chat-container">

  <div class="chat-messages">
    <div class="grid gap-y-1">

      <!--      chat messages.   -->
      <app-chat-message text="What do you want to generate?" />
      @for (message of messages(); track $index) {

        @if (message.isGpt) {
          <app-chat-message-editable-image
            [text]="message.text"
            [imageInfo]="message.imageInfo!"
            (selectedImage)="handleImageChange($event, message.imageInfo!.url)" />
          <app-chat-message [text]="message.text" [imageInfo]="message.imageInfo" />
        } @else {
          <app-user-message [text]="message.text" />
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }

    </div>
  </div>
  <!--  chat box -->
  <app-text-message-box
    (messageBox)="handleMessage($event)"
    placeHolder="Escribe tu mensaje"
  />

  <!--  <app-text-message-box-file-->
  <!--    placeHolder="Escribe tu mensaje"-->
  <!--    (selectedTheOption)="handleMessageWithFile($event)"-->
  <!--  />-->

  <!--  <app-text-message-box-select-->
  <!--    (selectedTheOption)="handleMessageWithSelect($event)"-->
  <!--    [options]="[{id: 'UNO', text: '1'},{id: 'DOS', text: '2'}]"-->
  <!--    placeHolder="Escribe tu mensaje"-->
  <!--  />-->

</div>
