<div class="chat-container">

  <div class="chat-messages">
    <div class="grid gap-y-1">

      <!--      chat messages.   -->
      <app-chat-message text="Write tour text to revieew" />
      @for (message of messages(); track message.isGpt) {
        @if (message.isGpt) {
          <app-chat-message
            [text]="message.text"
            [audioUrl]="message.audioUrl"
          />
        } @else {
          <app-user-message [text]="message.text" />
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }

    </div>
  </div>
  <!--  chat box -->


  <app-text-message-box-select
    (selectedTheOption)="handleMessageWithSelect($event)"
    [options]="voices()"
    placeHolder="Escribe tu mensaje"
  />

</div>
